doctype html
html(lang="en")
    head
        title= Kündigung
        // script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js")
        script(src="js/jquery-2.1.4.min.js")
        script(src="js/bootstrap.min.js")
        script(src="js/bootstrap-editable.min.js")
        script(src="js/pdfmake.min.js")
        script(src="js/vfs_fonts.js")

        script(src="js/get.js")
        script(src="js/post.js")
        script(src="js/refresh.js")
        script(src="js/doc.js")

        link(rel="stylesheet", href="css/bootstrap.min.css")
        link(rel="stylesheet", href="css/bootstrap-editable.css")
        link(rel="stylesheet", href="css/custom.css")

        style h2 { margin-bottom: 20px; margin-top: 20px; }

        meta(name="viewport" content="width=device-width, initial-scale=1")

        block extraheader
